<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DataSoap" maxReceivedMessageSize="524288" />
      </basicHttpBinding>
      <customBinding>
        <binding name="DataSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://ws.eoddata.com/data.asmx" binding="basicHttpBinding" bindingConfiguration="DataSoap" contract="EODDataService.DataSoap" name="DataSoap" />
      <endpoint address="http://ws.eoddata.com/data.asmx" binding="customBinding" bindingConfiguration="DataSoap12" contract="EODDataService.DataSoap" name="DataSoap12" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AsyncIO" publicKeyToken="44a94435bd6f33f8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.1.25.0" newVersion="0.1.25.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DataSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="DataSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://ws.eoddata.com/data.asmx" binding="basicHttpBinding"
        bindingConfiguration="DataSoap" contract="DataSoapClient.DataSoap"
        name="DataSoap" />
      <endpoint address="http://ws.eoddata.com/data.asmx" binding="customBinding"
        bindingConfiguration="DataSoap12" contract="DataSoapClient.DataSoap"
        name="DataSoap12" />
    </client>
  </system.serviceModel>
</configuration>